<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SapServer" value="" />
		<add key="Version" value="9" />
        <add key="SapLicenseServer" value="" />
		<add key="UseTrusted" value="false" />
		<add key="SLDServer" value="" />
        <add key="SapCompanyDb" value="" />
        <add key="SapDbServerType" value="dst_MSSQL2019" />
        <add key="SapDbUser" value="" />
        <add key="SapDbPassword" value="" />
        <add key="SapUser" value="" />
        <add key="SapPassword" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
